# Dependencies
node_modules

# Next.js build output
.next

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env*.local

# Railway cache invalidation timestamp: 2025-10-14T07:32:00
