[phases.setup]
nixPkgs = ["python311", "postgresql"]

[phases.install]
cmds = [
    "pip install --upgrade pip setuptools wheel",
    "pip install --no-cache-dir reportlab==4.0.7",
    "pip install --no-cache-dir google-api-core google-auth google-cloud-core proto-plus protobuf",
    "pip install --no-cache-dir google-cloud-translate==3.15.0",
    "pip install --no-cache-dir -r requirements.txt"
]

[phases.build]
cmds = [
    "python manage.py collectstatic --noinput"
]

[start]
cmd = "bash railway_start.sh"
