// Archivo de estilos principal
// Aquí puedes añadir tus estilos SCSS.

$primary-color: #6c757d;
$body-bg: #ffffff;

body {
  background-color: $body-bg;
  font-family: Arial, Helvetica, sans-serif;
  color: $primary-color;
}
